
@{
    ViewData["Title"] = "Prime Tracker";
}

@section Styles {

    <link rel="stylesheet" href="~/dist/css/ClientApp/main.css"/>

}

@section scripts{
    
    <script src="~/dist/js/ClientApp/bundle.js"></script>

}

<div id="app">
    Loading...
</div>
