
@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/font-aweseme/css/all.min.css" />
}

@section scripts{

    <environment names="Development,Production,Staging">
        <script src="~/dist/js/ClientApp/bundle.js" asp-append-version="true"></script>
    </environment>

}

<div id="app">
    Loading...
</div>
