@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

.row {
  margin-left: 0;
  margin-right: 0;
}
.row > .col,
.row > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
